@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h2>About Weather App</h2>
    <p>This weather app provides weather information by calling three different APIs, first to populate drop down lists of locations, next to turn location names into coordinates, and finally to get weather data from coordinates. </p>
    <p>To get the current weather conditions, go to the <a asp-controller="OpenWeatherMap" asp-action="Index">Weather Forecast</a> page and choose your desired location.</p>

    <div class="row">
        <div class="col-md-6">
        </div>
    </div>
</div>