@using Microsoft.AspNetCore.Html;
@model ASP.NET_MVC_WeatherApp.Models.Geocoder

<style>
	#apiDiv{
		padding-left: 20px;
	}
		#apiDiv select, #apiDiv button {
			font-size: 25px;
		}

		#apiDiv h4 {
			margin: 10px 0;
		}

		#apiDiv #message table {
			width: 100%;
			border: double 1px #00ffff;
			background: #ff6a00;
		}

			#apiDiv #message table th {
				text-align: left;
				background: #4CAF50;
			}
</style>
<h1>Get Forecast</h1>
<div class="row">
	<div class="col-md-4">
		<form asp-action="GetWeather">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>			
			@* country  *@
			<div class="form-group">
				<label asp-for="countryCode" class="control-label">Country</label>
				<select asp-for="countryCode" class="form-control" id="countrySelect">
					Country
					<option>Please select one</option>
				</select>
				<span asp-validation-for="countryCode" class="text-danger"></span>
			</div>
			@* state *@
			<div class="form-group">
				<label asp-for="stateCode" class="control-label">State</label>
				<select asp-for="stateCode" class="form-control" id="stateSelect">
					State
					<option>Please select one</option>
				</select>
				<span asp-validation-for="stateCode" class="text-danger"></span>
			</div>
			@* city *@
			<div class="form-group">
				<label asp-for="cityName" class="control-label">City</label>
				<select asp-for="cityName" class="form-control" id="citySelect">
					City
					<option>Please select one</option>
				</select>
				<span asp-validation-for="cityName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Get Weather" class="btn btn-primary" id="getWeatherButton"/>
			</div>
		</form>
	</div>
</div>